html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    min-height:100%;
    height: 100%;
    font-family: Henvetica, Arial, sans-serif;
    min-width: 720px;
}
h1{
    font-size: 36px;
    font-weight: normal;
    margin: 15px 0;
}
h1 small{
    color: #999;
    font-size: 24px;
}
#page{
    height: auto !important;
    min-height:100%;
    height: 100%;
    position: relative;
    padding-left: 220px;
}
#menu{
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    bottom: 0;
    background: #000 repeat 0 0 url(stripes.png);
    border-right: 1px solid #000;
    box-shadow: 2px 0 1px #ccc;
    min-height: 1200px;
}
#content{


    padding-right: 20px;
}
.clr{
    height: 0;
    display: block;
    clear: both;
    font-size: 1px;
    line-height: 1;
}
#logo{
    width: 196px;
    height: 92px;
    background: 0 0 transparent no-repeat url(xCRUD.png);
    margin-top: 3px;
}
#caption{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    padding: 10px;
    text-align: center;
}
#caption small{
    font-size: 13px;
}
#leftmenu,#switchtheme{
    list-style: none;
    margin: 0;
    padding: 20px 5px;
}
#leftmenu li,#switchtheme li{
    margin: 0;
    padding: 0;
    border-bottom: 1px dashed #333;
    line-height: 1.25;
    padding: 4px;
}
#leftmenu li a:link,#leftmenu li a:active,#leftmenu li a:visited,#switchtheme li a:link,#switchtheme li a:active,#switchtheme li a:visited{
    color: #9ebf53;
    text-decoration: none;
    font-weight: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.25;
}
#leftmenu li a:hover,
#leftmenu li.active a,
#leftmenu li.active a:link,
#leftmenu li.active a:before,
#switchtheme li a:hover,
#switchtheme li.active a,
#switchtheme li.active a:link,
#switchtheme li.active a:before{
    color: #BBDC70;
}
#leftmenu li a:before,#switchtheme li a:before{
    content: "";
    font-size: 15px;
    width: 15px;
    display: inline-block;
}
#leftmenu li.active a:before,#switchtheme li.active a:before{
    content: "»";         
}
.buy-xcrud{
    display: block;
    position: absolute;
    width: 180px;
    top: 8px;
    right: 20px;
    padding: 10px 10px 10px 65px;
    /*background: #A9CA56 10px 50% no-repeat url(cc-logo-light.png);*/
    color: #fff;
    border-radius: 4px;
    border: 1px solid #000;
    box-shadow: inset 0 0 1px #fff, inset 0 0 15px #81A249, 1px 2px 3px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
    font-weight: bold;
    line-height: 1.1;
    text-decoration: none;
    
    background: #299a0b;
    background: -moz-linear-gradient(top,  #299a0b 0%, #227a09 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#227a09));
    background: -webkit-linear-gradient(top,  #299a0b 0%,#227a09 100%);
    background: -o-linear-gradient(top,  #299a0b 0%,#227a09 100%);
    background: -ms-linear-gradient(top,  #299a0b 0%,#227a09 100%);
    background: linear-gradient(to bottom,  #299a0b 0%,#227a09 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#227a09',GradientType=0 );

    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}

.buy-xcrud:before{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 55px;
    background: #45484d;
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
    content: "";
    border-radius: 2px 0 0 2px;
}
.buy-xcrud:after{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 55px;
    background: transparent 50% 50% no-repeat url(cc-logo-big.png);
    content: "";
}

.buy-xcrud > small{
    font-size: 14px;
    display: block;
    color: #EAFFEF;
}
.buy-xcrud:hover{
    text-shadow: 1px 1px 0 rgba(0,0,0,0.7), 0 0 5px rgba(255,255,255,0.5);
    text-decoration: none;
    color: #fff;
}






















